.commonSpace {
  margin-top: 15px;
}
.button-text-color {
  color: #ffffff;
}
.text-center {
  text-align: "center";
}
.items-center {
  display: flex;
  width: 42%;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-top: 10px;
  color: #b2bec3;
}
/* .modal-dialog {
  max-width: 900px;
} */
.cross-icon-style {
  margin-top: 16px;
  font-size: 19px;
  display: flex;
  margin-left: auto;
  margin-right: 22px;
}
.facily-modals a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.facily-modals {
  border-bottom: 1px solid #eeeeee;
  padding-left: 25px;
}
.facility-form input {
  background: none;
  border: none;
  border-bottom: 2px solid #666666;
  width: 100%;
  padding: 6px 0 4px;
  font-weight: 500;
}
.light-text-facility {
  color: #636e72;
  margin-top: 8px;
  font-size: 14px;
}
.more-modal .modal-dialog {
  background: #ffffff;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 16%);
  border-radius: 4px;
  max-width: 375px;
}
.more-div span.cross-icon-style {
  justify-content: flex-end;
  margin-right: 0;
}
.more-div .facility-form label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 4px;
  position: relative;
}
.numbermodal .facility-form label {
  font-weight: 500;
  color: #444444;
}
.more-div .facility-form input::placeholder{
  color: #BBBBBB;
}
.facility-form input::placeholder{
  color: #BBBBBB;
}
span.light-textaa {
  opacity: 0.7;
}
.more-div {
  padding: 0 15px;
}
.dots {
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-filter-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.more-filter-btn button.Clear {
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #BBBBBB;
}
button.Clear.apply-btn {
  color: #080808;
  margin: 0 0px 0 10px;
}
span.cross-icon-style {
  cursor: pointer;
}
.add-listing-modal .modal-dialog {
  max-width: 560px;
}
.add-list {
  padding: 20px 15px 0;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 20px;
}
.add-listing-modal span.cross-icon-style {
  position: absolute;
  right: 20px;
  top: 0;
}
.add-list p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #080808;
  margin: 0;
}
.add-list h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #080808;
  padding-bottom: 5px;
}
button.listing, button.save-btns {
  background: #080808;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #080808;
  height: 64px;
  padding: 0 25px;
}
.add-listing-modal .more-filter-btn {
  border-top: 1px solid #eeeeee;
  padding: 0 18px 15px;
}
.add-listing-modal .facility-form.full-width select {
  width: 90%;
}
.add-listing-modal .facility-form.half-div label {
  display: inline-block;
}
button.save-btns {
  background: #65C87A;
  border-color: #65C87A;
}


.add-listing-modal .facility-form.half-div input {
  width: 100%;
  text-align: left;
}
.add-listing-modal .more-div label {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
}
button.btn-room {
  background: #FFFFFF;
  border: 1px solid #080808;
  box-sizing: border-box;
  border-radius: 100px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding: 0 10px;
  height: 34px;
}
button.btn-room.active {
  background: #080808;
  color: #fff;
}
.add-listsss {
  width: 19%;
  display: inline-block;
}
.Recurring-modal .add-listsss {
  width: 30%;
}
.Recurring-modal.add-listing-modal .facility-form .add-listsss label{
  display: block;
}
.weeks-days {
  display: flex;
}
.sunday-monday {
  margin-right: 15px;
}
.Recurring-modal .add-list-rink button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #080808;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.confirmation .add-list p {
  font-weight: 500;
  font-size: 16px;
}
.heading-body h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.confirm-add-body {
  padding: 0 15px;
}
.confirmation .listing-boxss h4{
  margin-left: 0;
}
.body-heading {
  height: 150px;
  overflow: auto;
}
.confirmation .booking-box.listing-boxss.booked-list {
  margin-top: 14px;
  box-shadow: none;
}
.confirmation .add-list-rink button {
  background: #EEEEEE;
  border-radius: 4px;
  height: 64px;
  padding: 0 25px;
}