@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  padding-right: 40px;
  padding-left: 40px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #080808;
}

/************* header css start here *************/

.login .nav-link,
.manage-facility .nav-link {
  background: #65c87a;
  border-radius: 4px;
  border: 1px solid #65c87a;
}

.login .nav-link:hover {
  color: #fff;
    background: #83da95;
    border-color: #83da95;
}

.nav-link {
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  padding: 11px 16px !important;
}

.manage-facility .nav-link {
  background: #182a8c;
  border-radius: 4px;
  border: 1px solid #182a8c;
}

.nav-item {
  padding-left: 16px;
}

header {
  height: 72px;
  line-height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
}

.manage-facility .nav-link:hover {
  color: #fff;
  background: #182a8cdb;
  border: 1px solid #182a8cdb;
}
:focus-visible {
  outline: none;
}
header li.nav-item.manage-facility {
  padding-left: 0;
}

.banner {
  background-image: url("./assets/images/landingdesktop.png");
  height: 628px;
  background-position: 50% 65%;
  background-size: 130%;
  position: relative;
  margin-top: 70px;
}

.banner:after {
  background: rgb(0 0 0 / 29%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
}

.bannertext {
  display: flex;
  justify-content: center;
  height: 628px;
  flex-direction: column;
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  z-index: 9;
  position: relative;
}

.bannertext h2 {
  font-size: 48px;
  line-height: 74px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
}

.search-form input {
  height: 72px;
  border: none;
  background: #ffffff;
  border-radius: 8px;
  padding: 15px 15px 15px 40px;
  width: 80%;
}

.search-form .form-group {
  position: relative;
}

.search-form i.fa.fa-search {
  position: absolute;
  top: 27px;
  left: 14px;
  color: #c4c4c4;
  cursor: pointer;
  font-size: 20px;
}

nav.navbar.navbar-expand-lg {
  padding-left: 0;
  padding-right: 0;
}

a.navbar-brand {
  position: relative;
}

a.navbar-brand:before {
  position: absolute;
  content: "";
  background: #e7e7e7;
  width: 1px;
  height: 72px;
  top: -8px;
  right: -30px;
}

/*************** header css End here ******************/

.search-form {
  margin-top: 25px;
}

button.btn.btn-search {
  background: #65c87a;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  height: 72px;
  margin-left: 10px;
  padding: 10px 25px;
}

.search-form i.fas.fa-map-marker-alt {
  position: absolute;
  right: 147px;
  margin: 0 auto;
  top: 23px;
  color: #000;
  cursor: pointer;
  font-size: 22px;
}

input:focus-visible {
  outline: none;
}

button.btn.btn-search:hover {
    color: #fff;
    background: #83da95;
    border-color: #83da95;
}

/********** landing page css ********/

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

.explore-facilities {
  padding: 60px 0 45px;
}

.box img {
  width: 100%;
  position: relative;
  border-radius: 6px;
  height: 210px;
  object-fit: cover;
}

.explore-facilities h2.title {
  margin-bottom: 40px;
}
.box:hover p {
  color: #65c87a;
}
.box {
  position: relative;
  margin-bottom: 10px;
  border: 3px solid transparent;
  border-radius: 6px;
}
.english {
  margin-bottom: 0px;
}
.box:hover {
  border: 3px solid #65c87a;
  border-radius: 8px;
}
.box p {
  position: absolute;
  top: 0;
  z-index: 9;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.box:after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: block;
  opacity: 0.4;
  border-radius: 6px;
}

.spotyworktext span {
  width: 200px;
  height: 8px;
  left: 50px;
  background: #080808;
  display: inline-block;
  margin-bottom: 70px;
}

.box-one span {
  width: 24px;
  height: 24px;
  background: #000;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.box-one h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #080808;
  display: inline-block;
  margin-left: 10px;
}

.box-one p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #080808;
  margin-top: 8px;
  padding-right: 25px;
}

.spotywork {
  padding-bottom: 60px;
}

.mobileViwe {
  display: none;
}

/******* Footer css start here **********/

.footer-logo p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin-top: 15px;
  padding-bottom: 10px;
}

footer {
  background: #fff;
  padding: 40px 0 0;
  border-top: 1px solid #eeeeee;
}

ul {
  padding: 0;
  list-style: none;
}

.footer-links ul li i {
  font-size: 18px;
  margin-right: 8px;
  width: 20px;
}

.footer-links ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 5px;
  padding-top: 5px;
}

.footer-icons ul {
  display: flex;
  padding-bottom: 10px;
}

.footer-icons p {
  font-size: 14px;
  line-height: 30px;
  color: #000;
}

.footer-icons ul li {
  margin-right: 20px;
}

/*************** footer css End here ******************/

/*********** Inner Header start here *****************/

.innerheader a.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.innerheader .manage-facility a.nav-link {
  color: #fff;
}

.innerheader li.nav-item {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.innerheader li.nav-item.manage-facility {
  padding-right: 15px;
}

.innerheader a.nav-link:hover {
  color: #65c87a;
}

.innerheader li.nav-item:last-child {
  padding-left: 0;
}

.search-main input {
  border: none;
  padding-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #080808;
}

.search-main input::placeholder {
  color: #080808;
  font-weight: 500;
}

.search-main img {
  margin-left: 35px;
}

.innerheader .manage-facility a.nav-link:hover {
  color: #1a2a8c;
}

.innerheader .manage-facility .nav-link {
  height: 40px;
  line-height: 15px !important;
}

.innerheader {
  box-shadow: 0px 0px 8px rgb(0 0 0 / 16%);
}

/*********** Inner Header End here *****************/

.search-main-page {
  padding-top: 70px;
}

.left-search {
  padding-top: 20px;
}

button.btn.btn-black.btn-filter {
  background: #080808;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  height: 36px;
  color: #ffffff;
  padding: 9px 12px;
  margin-right: 15px;
}

button.btn.btn-black.btn-filter.more-btn {
  background: transparent;
  border: 1px solid #080808;
  color: #080808;
}

iframe {
  border: none;
}

.anil_nepal {
  padding: 8px 0px;
  width: 100%;
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 18px;
  padding: 3px;
  margin: 0 10px 10px 0;
  background: #080808;
  border-radius: 18px;
  box-shadow: none;
  cursor: pointer;
  box-sizing: content-box;
}
button.continue-btn.update-btn {
  width: auto;
  height: 60px;
}
label {
  font-weight: inherit;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 4px 0 0;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: content-box;
}

.switch-left-right .switch-input:checked ~ .switch-label {
  background: inherit;
}

.switch-input:checked ~ .switch-label {
  background: #e1b42b;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15),
    inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-left-right .switch-label {
  overflow: hidden;
}

.switch-label,
.switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: transparent;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12),
    inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
}

.switch-left-right .switch-input:checked ~ .switch-label:before {
  opacity: 1;
  left: 100px;
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

.switch-left-right .switch-label:before {
  background: #eceeef;
  text-align: left;
  padding-left: 0px !important;
}

.switch-left-right .switch-label:before,
.switch-left-right .switch-label:after {
  width: 20px;
  height: 20px;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 11px 0 0 0;
  text-indent: -12px;
  border-radius: 20px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2),
    inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaaaaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

span.switch-label:after {
  content: "";
  left: 11px;
  color: #ffffff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  box-sizing: content-box;
}

.switch-left-right .switch-input:checked ~ .switch-label:after {
  left: 0 !important;
  opacity: 1;
  padding-left: 20px;
}

.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-left-right .switch-label:after {
  text-align: left;
  text-indent: 9px;
  background: #080808 !important;
  left: 0px !important;
  opacity: 1;
  width: 100% !important;
}

.switch-left-right .switch-label:before,
.switch-left-right .switch-label:after {
  width: 20px;
  height: 20px;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 11px 0 0 0;
  text-indent: -12px;
  border-radius: 20px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2),
    inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.switch-input:checked ~ .switch-handle {
  left: 17px;
  box-shadow: none;
}

.switch-label,
.switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
}

.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 6px;
  box-shadow: none;
}

.buttons-filters {
  display: flex;
  justify-content: space-between;
}

span.map-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  color: #000000;
}

span.map-text.map {
  margin-right: 12px;
}

.total-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-top: 5px;
  padding: 10px 0;
}

.total-left h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
  margin: 0;
}

button.popular {
  background: #ffffff;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #080808;
  height: 36px;
  padding: 0 15px;
}

button.popular:focus {
  outline: none;
}

.loading p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #999999;
  padding: 15px 0;
}

iframe {
  height: 100%;
}

.right-search {
  height: 100%;
}

img.hover-img {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 4px solid transparent;
}

button.popular img {
  margin-right: 8px;
}

.serch-img {
  position: relative;
}

.favrate {
  max-width: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.serch-content h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #080808;
  margin: 8px 0 2px;
}

.serch-content p {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
}

.search-box:hover img.hover-img {
  border: 4px solid #65c87a;
}
.search-box.preium img.hover-img {
  border: 4px solid #bfa14f;
}
.search-box.preium h2 {
  color: #bfa14f;
}
.search-box.preium:hover h2 {
  color: #bfa14f;
}
.search-box:hover h2 {
  color: #65c87a;
}

button.btn.btn-black.btn-filter:focus {
  box-shadow: none;
}

.listing-box {
  padding: 15px;
  margin: 10px 15px 10px 15px;
  background: #ffffff;
  border-radius: 6px;
}

.listing-box span {
  color: #666666;
  margin-left: 5px;
  margin-right: 5px;
}

.listing-box ul li {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.listing-box ul li span {
  font-weight: 400;
}

.listing-box ul li strong:first-child {
  margin-left: 20px;
}

.listing-box h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.listing-box ul li strong {
  margin-left: 5px;
}

.listing-box ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.listing-tab button.btn.btn-black.btn-filter {
  margin-left: 15px;
}

.listing-text {
  padding-bottom: 20px;
}

.listing-tab {
  background: #f5f5f5;
  height: 100vh;
  position: sticky;
  top: 0;
  right: 0;
}

.facility {
  margin-top: 72px;
  padding-top: 20px;
}

.footer-links ul li i:hover {
  color: #65c87a;
  cursor: pointer;
}
.footer-links.footer-icons p:hover {
  cursor: pointer;
  color: #65c87a;
}
.facility-banner {
  border-radius: 15px;
  position: relative;
}
.full-img{
  width: 100%;
}
.facilty-logo {
  position: absolute;
  top: 40px;
  left: 40px;
}
.heart-white {
  position: absolute;
  top: 15px;
  right: 15px;
}
button.white-btn.btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #080808;
  height: 36px;
  position: absolute;
  right: 30px;
  bottom: 40px;
  background: #fff;
}

.swining-pol-text h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.swining-text span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #080808;
  margin-left: 11px;
}

.swining-text p {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #666666;
  padding-top: 5px;
}

.swining-pol-text p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-top: 18px;
}

.all-room button.btn.btn-black.btn-filter.more-btn {
  border: 1px solid #aaaaaa;
}

svg.change {
  display: none;
}

.more-btn span {
  width: 8px;
  height: 8px;
  background: gray;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

span.blue {
  background: #7dd1f5;
}

span.pink {
  background: #fcd778;
}

span.darkblue {
  background: #9bc7fb;
}

span.green {
  background: #c4fd21;
}

span.gray {
  background: #dbdbdb;
}

.swining-pool .row {
  border-bottom: 2px solid #c4c4c4;
}

button.btn.btn-black.btn-filter.day {
  margin-left: 30px;
}

button.btn.btn-black.btn-filter.more-btn i {
  font-size: 21px;
  line-height: 17px;
}

.swining-pol-text h2 {
  font-weight: 500;
  font-size: 46px;
  line-height: 52px;
  color: #000000;
  padding: 5px 0;
}

.swining-pool {
  margin-top: 10px;
}

.all-room-img img {
  width: 100%;
}

.swining-pol-text {
  padding-bottom: 10px;
}

.location-text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;
  color: #080808;
  padding-top: 0;
}

.all-room {
  margin-bottom: 20px;
}

.location h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.mybooking {
  margin-top: 72px;
  background: #fafafa;
}

.commoan-left {
  background: #fafafa;
  width: 291px;
  padding: 40px 30px 20px;
}

.nav-pills .nav-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #666666;
}

.mybookin-fluid {
  display: flex;
}

.common-right {
  background: #fff;
  width: 80%;
  padding: 50px 60px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent;
  color: #000000;
}

.booking-img img {
  width: 100%;
  border-radius: 6px;
}

.booking-box {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
  border-radius: 6px;
  padding: 20px;
  margin-top: 25px;
}

.booking-text h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.sendmessege button.btn.btn-cancal {
  color: #999999;
  margin-right: 15px;
}

button:focus {
  box-shadow: none !important;
}

.inner-calender-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-text h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}

.booking-text ul li p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
  margin: 0;
}

.booking-text ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0;
}

.sendmessege p {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 0;
}

.sendmessege button.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #080808;
  background: transparent;
  padding: 0;
}

.messages {
  display: flex;
  padding: 0 30px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.messages-name {
  padding: 20px 30px;
  margin: 0;
  border-bottom: 1px solid #eeeeee;
}

.messages-name span.pull-right {
  float: right;
}

.messages-name h6,
.messages-name h5,
.messages-name span.pull-right {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
  display: inline-block;
}

.messages-name h5 {
  font-weight: 400;
}

.messages select {
  border: none;
  background: transparent;
  height: 30px;
  border-bottom: 2px solid #080808;
}

select:focus-visible {
  outline: none;
}

.messages-name p {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  margin-bottom: 10px;
}

.messages-page .commoan-left {
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
}

.messages-name:hover,
.messages-name.active {
  background: #080808;
}

.messages-name:hover h6,
.messages-name:hover span,
.messages-name:hover h5,
.messages-name.active h6,
.messages-name.active span,
.messages-name.active h5 {
  color: #fff;
}

.chat-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.chat-content h5 {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #000000;
  margin: 0;
}

.chat-page:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #eeeeee;
  bottom: -20px;
  left: 0;
}

.chat-content p {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  color: #999999;
  margin: 0;
}

.chat-messages {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.chat-left span {
  width: 48px;
  height: 48px;
  background: #080808;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  margin-right: 12px;
}

.chat-user h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #666666;
  margin: 0;
}

.chat-left {
  display: flex;
}

.date-text span {
  position: relative;
  background: #fff;
  z-index: 99;
  padding: 0 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}

.date-text {
  position: relative;
}

.date-text:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #eeeeee;
  left: 0;
  top: 11px;
  z-index: 1;
}

.messeng-sent {
  position: fixed;
  bottom: 0px;
  background: #fff;
  padding: 10px 0;
  width: 70%;
  z-index: 99999;
}

.messeng-sent input {
  border: none;
  border-bottom: 2px solid #666666;
  width: 90%;
}

button.btn.btn-send {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #080808;
  background: transparent;
  float: right;
}

button#dropdownMenuButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-item .dropdown-menu.show {
  right: 0;
  left: inherit;
  padding: 0;
  border-radius: 6px;
}

button#dropdownMenuButton:focus {
  border: none;
  outline: none;
}

.nav-pills .nav-link.active:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 36px;
  top: 9px;
  right: -30px;
  background: #000;
}

.nav-pills .nav-link {
  position: relative;
  padding: 15px 16px !important;
}

.profile-data label {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
  margin-bottom: 0;
}

.profile-data input {
  border: none;
  border-bottom: 1px solid #666666;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #080808;
  padding: 0;
}

.verification-code {
  background: rgb(244 173 61 / 8%);
  border-radius: 8px;
  padding: 15px;
}

.verification-code label {
  display: block;
}

.verification-code input {
  display: inline-block;
  width: 10%;
  margin: 10px 5px;
  text-align: center;
  background: transparent;
}

.profile-data h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #666666;
}

.verification-code span {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #080808;
  margin-bottom: 0;
  margin-left: 10px;
}

button.btn-google {
  border: none;
  background: #f5f5f5;
  border-radius: 6px;
  height: 60px;
  margin: 10px 0;
  padding: 0 18px;
}

.btn-google img,
.btn-google i {
  margin-right: 10px;
  font-size: 20px;
}

.profile-data .Social-profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

button.update-btn {
  background: #65c87a;
  border-radius: 4px;
  height: 64px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 20px 40px;
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
}

button.update-btn:hover {
  color: #fff;
  background: #83da95;
  border-color: #83da95;
}


button:focus {
  border: none;
  outline: none;
}

.payment-heading p,
.billing-details h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  opacity: 0.6;
  margin-top: 20px;
}

.billing-details h4 {
  margin-top: 0;
  margin-bottom: 20px;
}

.card-number label {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
  margin-bottom: 3px;
}

.card-number input,
.card-number select {
  border: none;
  border-bottom: 2px solid #666666;
  width: 100%;
  background: transparent;
  padding: 0;
}

.radio-btn input[type="checkbox"] {
  margin-right: 10px;
}

.radio-btn label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
}

.notification input[type="checkbox"] {
  float: left;
}

.notification .radio-btn span {
  display: inline-block;
  width: 90%;
}

.transition .table thead th {
  vertical-align: bottom;
  border-bottom: none;
  border: none;
  background: #fafafa;
}

.transition .table td {
  border-top: 1px solid rgb(8 8 8 / 15%);
  border-bottom: 1px solid rgb(8 8 8 / 15%);
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
}

.payment-heading.wallet p {
  opacity: 1;
}

.wallet h4 {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
}

/* .modal-open header.header {
  padding-right: 15px;
} */

.login-modal .modal-content {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 16%);
  border-radius: 8px;
  border: none;
  padding: 42px 50px;
}

.login-modal button.close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.login-modal .modal-content .modal-header {
  padding: 0;
  border: none;
}

.login-modal .modal-body {
  padding: 0;
}

.login-form label {
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
  margin-top: 20px;
  margin-bottom: 2px;
}

.login-modal .modal-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}

.login-form input {
  border: none;
  border-bottom: 2px solid #666666;
  width: 100%;
  padding: 6px 0 4px;
}

.forgot-pass p,
.forgot-passsign p {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
  margin-top: 20px;
}

.forgot-pass p span {
  color: #000000;
}

.forgot-pass button.btn.btn-search {
  background: #080808;
  border-radius: 4px;
  width: 100%;
  margin: 0;
  height: 62px;
}

.login-with p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background: #fff;
  display: inline-block;
  margin: 0 auto;
  z-index: 999;
  position: relative;
  padding: 0 5px;
}

.google-buttons {
  display: flex;
  justify-content: space-between;
}

.login-with {
  text-align: center;
}

.google-buttons button.btn-google {
  width: 47%;
  text-align: center;
}

.forgot-pass button.btn.btn-search:hover {
  background: transparent;
  border-color: #080808;
  color: #080808;
}

.login-with span {
  position: relative;
  display: inline-block;
  width: 100%;
}

.login-with span:before {
  position: absolute;
  content: "";
  background: #eeeeee;
  width: 100%;
  height: 2px;
  left: 0;
  top: 18px;
}

.forgot-passsign.signup-btn button.btn.btn-search.sign-up {
  width: 100%;
  margin: 0;
  height: 60px;
  border-radius: 4px;
}
/* .modal-open {
  padding-right: 15px;
} */
/* .modal-open #navbarNav {
  margin-right: 15px;
} */
.login-form.half {
  width: 47%;
}

.signup-modal .forgot-passsign.signup-btn {
  margin-top: 30px;
}

.signup-modal .forgot-pass p {
  text-align: center;
  padding: 0 15px;
}

.full-div {
  display: flex;
  justify-content: space-between;
}

#forgot .modal-title {
  font-size: 30px;
  margin-bottom: 25px;
}

#forgot p {
  text-align: left;
  padding: 0;
}

p.no-worries {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.reset-pass .forgot-pass p {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.close-btn button.btn.btn-search.sign-up {
  background: #000;
}

.close-btn button.btn.btn-search.sign-up:hover {
  background: transparent;
  color: #000;
  border-color: #000;
}

.reset-pass .modal-title {
  font-size: 30px;
  margin-bottom: 15px;
}
span.message-notification {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  background: #080808;
  color: #fff;
  padding: 4px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-block;
  line-height: 9px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
/***************** User Css End Here ***************/

/************** Owner css start here ****************/

.owner-home {
  margin-top: 30px;
  padding-top: 40px;
}
/* .onwer-left {
  background: #fafafa;
  width: 100px;
  padding: 15px 10px;
  text-align: center;
  border-right: 1px solid #eeeeee;
} */
.search-main-page a {
  text-decoration: none;
  display: block;
}
.onwer-left {
  background: #fafafa;
  width: 100px;
  padding: 15px 10px;
  text-align: center;
  border-right: 1px solid #eeeeee;
  position: sticky;
  height: 100vh;
  top: 70px;
  margin-bottom: 72px;
}
.owner-right {
  width: calc(100% - 100px);
}
.owner-main {
  display: flex;
}
.owner-icons h3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #080808;
  margin: 0;
  padding-top: 5px;
}
.owner-icons {
  padding-bottom: 18px;
  padding-top: 18px;
}
.glance-heading h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}
.booked-box {
  background: #080808;
  border-radius: 6px;
  text-align: center;
  padding: 11px 5px;
}
.booked-box h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.booked-box h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.booked-box h5 span {
  opacity: 0.4;
}
.owner-icons a {
  text-decoration: none;
  display: block;
}
.booked-one {
  display: flex;
  justify-content: space-between;

}
.billing-page button.btn.btn-black.btn-filter.more-btn.space-no.week {
  border-right: 0;
}
.booked h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.booked-open {
  background: #f5f5f5;
  border-radius: 6px;
  padding: 15px;
}
.booked-one span {
  font-weight: 500;
  font-size: 12px;
  color: #999999;
  position: relative;
  top: -1px;
  left: 5px;
}
.booked-one h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #000000b5;
  display: flex;
  z-index: 99;
  position: relative;
}
.booked-one h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #080808;
}
.booked-one span.size-same {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #080808;
  top: 0;
  left: 0;
  margin-right: 13px;
}
.botton-booked h3, .botton-booked h2 {
  margin-bottom: 0;
}
.booked-one i {
  font-size: 27px;
  position: relative;
  top: 4px;
  line-height: 0;
  margin-left: 10px;
}
.Open-booked h2, .Open-booked h3 {
  margin: 0;
}
.booked-open.Open-booked {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 6px;
}
.calender-page{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calender-page button.btn.btn-black.btn-filter.day {
  margin-left: 0;
  margin-right: 60px;
}
.calender-page button.btn.btn-black.btn-filter.green {
  background: #65C87A;
  color: #fff;
  border-color: #65C87A;
}
button.btn.btn-black.btn-filter.more-btn.space-no {
  margin: 0;
}
button.btn.btn-black.btn-filter.more-btn.space-no.week {
  border-radius: 0;
}
button.btn.btn-black.btn-filter.more-btn.space-no.month {
  border-radius: 6px 0px 0px 6px;
  border-right: 0;
}
button.btn.btn-black.btn-filter.day.space-no.day {
  border-radius: 0 6px 6px 0px;
}
button.btn.btn-black.btn-filter.more-btn.space-no.upcoming {
  background: #080808;
  color: #fff;
  border-radius: 6px 0px 0px 6px;
}
button.btn.btn-black.btn-filter.more-btn.space-no.past {
  border-radius: 0 6px 6px 0px;
}
.calender-owner img {
  width: 100%;
}
.booking-owner .booking-img {
  display: flex;
}
.booking-owner .booking-img input {
  margin-right: 5px;
}
.booking-owner .booking-img img {
  max-width: 215px;
  margin-left: 3px;
}
.booking-owner .sendmessege button.btn {
  font-size: 14px;
}
.owner-notification p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  opacity: 0.6;
  padding-top: 10px;
}
.owner-notification span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #080808;
  width: auto !important;
  margin-right: 25px;
}
.owner-notification .radio-btn label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #65C87A;
  display: block;
  margin-bottom: 20px;
}
.owner-notification .bottom-sms span {
  color: #444444;
}
.owner-payment {
  width: 100%;
  max-width: 720px;
  margin: 20px auto;
}
.owner-payment h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #666666;
}
.owner-payment p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.stripe input {
  border-bottom: 2px solid #666666;
  padding: 5px 0;
}
.booking-box.booking-transprnt {
  background: #FAFAFA;
  padding: 10px 20px;
}
.booking-transprnt .booking-text h6 span {
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  color: #080808;
  opacity: 0.6;
}
.booking-transprnt select {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #080808;
  border: none;
  background: transparent;
  margin-left: 10px;
}
.booking-transprnt .sendmessege button.btn.btn-cancal {
  background: #080808;
  border-radius: 4px;
  padding: 7px 16px;
  color: #fff;
}
.booking-transprnt .booking-img, .booking-transprnt .booking-text {
  margin-top: 10px;
}
.plans-box {
  width: 300px;
  background: #FFFFFF;
  border: transparent;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0 30px;
  position: relative;
}
.gold-plan .standed-plan h2 span {
  opacity: 0.4;
}
.standed-plan {
  background: #080808;
  color: #fff;
  padding: 20px 0 10px;
  border-radius: 4px 4px 0 0;
}
button.select-btn {
  background: #999999;
  opacity: 0.2;
  border-radius: 4px;
  width: 90%;
  margin: 0 auto;
  border: none;
  height: 64px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #080808;
}
.bottom-plan {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.standed-plan h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.plans-name ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding: 8px 0;
}
.plans-name {
  padding: 15px 0;
  border: 2px solid #999999;
  height: 438px;
}
.gold-plan .plans-name{
  border: 2px solid #BFA14F;
}
.standed-plan h2 {
  font-weight: 500;
  font-size: 42px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0;
}
.plans {
  display: flex;
  justify-content: center;
  text-align: center;
}
.plans-box.gold-plan {
  border-color: #BFA14F;
}
.gold-plan .standed-plan {
  background: #BFA14F;
}
.gold-plan button.select-btn {
  background: #BFA14F;
  color: #fff;
  opacity: 1;
}
.billing-page .all-room-right {
  width: 49%;
}
.calender-page.billing-page {
  justify-content: inherit;
}
.billing-page button.btn.btn-black.btn-filter.month.black-btnss {
  background: #000;
  color: #fff;
}
.billing-page .day.space-no.day {
  background: transparent;
  color: #080808;
  border: 1px solid #080808;
}
.billing-page thead th {
  background: #FAFAFA;
  border-top: 0;
}
.table td {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
}
.listing-page .all-room-right {
  width: 49%;
}
.listing-boxss h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-left: 15px;
  margin-bottom: 0;
}
.listing-boxss .booking-img {
  display: flex;
}
.listing-boxss .booking-img span {
  color: #999999;
}
.mid-list h4 {
  opacity: 0.8;
}
.mid-list h4 span {
  opacity: 0.4;
  margin-left: 10px;
}
.list-sendbox p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.8;
}
.list-sendbox p span{
  margin-right: 10px;
}
.booking-box.listing-boxss {
  background: #F5F5F5;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px;
}
.booking-box.listing-boxss:hover, .booking-box.listing-boxss.booked-list:hover {
  border: 2px solid #000;
}
.booking-box.listing-boxss.booked-list {
  background: #FFFFFF;
  border: 2px solid #EEEEEE;

}








/**************** Checkbox ***************/


.checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  cursor: pointer;
  position: absolute;
  left: 14px;
  top: -2px;
}
.booking-transprnt label.checkbox-custom-label {
  top: 5px;
  left: 11px;
}
.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #fff;
  border-radius: 5px;
  border: 2px solid #000;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding: 2px;
  margin-right: 10px;
}
.checkbox-custom:checked + .checkbox-custom-label:before{
  background-color: #000;
}
input.checkbox-custom {
  z-index: 999999999999999;
  position: relative;
  opacity: 0;
  width: 20px;
  top: 4px;
    margin: 0;
    left: 1px;
    margin: 0;
    height: 20px;
}
#v-pills-messages .payment-method .radio-btn label {
  top: 1px;
}
.notification label.checkbox-custom-label {
  top: 0;
}
.booking-transprnt .booking-img{
  margin-top: 5px;
}
.bottom-sms label.checkbox-custom-label {
  left: 0;
  top: -2px;
}
.owner-notification label.checkbox-custom-label {
  top: -2px;
}
.listingss .booking-img {
  margin-top: 3px;
}
.bottom-sms{
  position: relative;
}
.checkbox-custom:checked + .checkbox-custom-label:after {
  content: "";
  padding: 2px;
  position: absolute;
  width: 1px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 6px;
    left: 5px;
}
.search-main-page .right-search {
  height: calc(100vh - 72px);
  position: sticky;
  top: 0;
  right: 0;
}
.search-main-page.active .right-search {
  display: none;
}
.search-main-page.active .listing-tab.pt-4{
  display: block;
}
.footer-links ul a {
  display: block;
  text-decoration: none;
}
.mybooking.messages-page .commoan-left {
  position: sticky;
  top: 0;
  left: 0;
}
.footer-links.footer-icons p {
  margin-top: 20px;
  margin-bottom: 0;
}



.search-box .favrate path:hover {
  fill: transparent;
  stroke: #ED4C3F;
}

.search-page .favrate path {
  stroke: white;
  stroke-width: 2px;
  fill: transparent;
}

.total-fav h2 {
  font-weight: 500;
  font-size: 42px;
  line-height: 44px;
  color: #080808;
  margin: 0;
}
.total-results.favrote {
  padding: 25px 0 0;
}
.total-fav h2 span {
  font-weight: 500;
  font-size: 26px;
  color: #666666;
  position: relative;
    top: -3px;
    left: 10px;
}
.my-facilities button.btn.btn-black.btn-filter.green {
  background: #65C87A;
  color: #fff;
  border-color: #65C87A;
  margin: 0;
}
button.btn.btn-black.btn-filter.green:hover{
  color: #fff;
    background: #83da95;
    border-color: #83da95;
}
.my-facilities .glance-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.facilities-both {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.facilities-two h3{
  text-align: center;
  margin: 0;
  line-height: 20px;
}
.facilities-two span{
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.pending-hover {
  position: absolute;
  top: 50%;
  margin: 0 auto;
  display: block;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.pending-hover h5 {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin: 5px 0 0;
}
.search-box.pending:hover img.hover-img {
  border: 4px solid transparent;
}
.search-box.pending:hover h2 {
 color: #080808;
}
.prium-text {
  position: absolute;
  bottom: 5px;
  left: 20px;
  z-index: 9;
}
.prium-text h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  background: #BFA14F;
  border-radius: 4px;
  padding: 2px 10px;
  display: flex;
  align-items: center;
}
.prium-text h4 span {
  margin-left: 5px;
}
.search-box.pending .serch-img:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 99999;
  background: #080808;
  opacity: 0.8;
  border-radius: 8px;
  z-index: 1;
}
.add-facility li.nav-item {
  padding: 0 40px 0 0px;
}
.add-facility .nav-tabs {
  border-bottom: none;
}
.add-facility .nav-tabs .nav-link span {
  background: #080808;
  width: 24px;
  height: 24px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  margin-right: 8px;
}
.add-facility .nav-tabs .nav-link, .add-facility .nav-tabs .nav-link h2 {
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #080808;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  margin: 0;
}
.add-facility .nav-tabs .nav-link{
  opacity: 0.4;
}
.add-facility .nav-tabs .nav-link.active{
  opacity: 1;
}
.add-facility {
  margin-top: 10px;
}
.add-facility .tab-content {
  margin-top: 35px;
}
.add-facility-form .form-group input::placeholder {
  color: #BBBBBB;
}
.add-facility-form .form-group input, .add-facility-form .form-group textarea {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  border: none;
  border-bottom: 3px solid #666666;
  width: 100%;
  padding: 0px 0 6px;
}
.add-facility-form label {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
  margin-top: 22px;
}
.add-facility-form .form-group textarea{
  height: 80px;
}
.location {
  margin-top: 25px;
}
.location h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #666666;
  padding-bottom: 15px;
}
.location iframe {
  height: 300px;
}
.location .right-search {
  margin-bottom: 15px;
}

.sunday .switch-input:checked ~ .switch-label:after{
  background-color: #666 !important;
}
.sunday .switch{
  background-color: #666 !important;
}
.sunday .switch-left-right .switch-label:after{
  background-color: #666 !important;
}
.add-facility span.map-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #666666;
}
.select-box span {
  font-weight: 600;
  margin: 0 25px;
}
.drop-photo .form-group {
  background: #F5F5F5;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  text-align: center;
  position: relative;
}
button.back-btn, button.back-btn:hover {
  background: #EEEEEE;
  color: #080808;
}
.add-room {
  position: absolute;
  right: 8px;
  top: -35px;
  width: 110px;
}
.add-room-box img {
  width: 100%;
}
button.add-room.btn {
  background: #65C87A;
  border-radius: 4px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
button.back-btn-continue, button.back-btn-continue:hover {
  background: #999999;
  color: #ffffff82;
}
input.open-file {
  width: 100%;
  height: 400px;
  opacity: 0;
  z-index: 9999;
  cursor: pointer;
}
.upload-file {
  position: absolute;
  cursor: pointer;
}
.select-box select {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #080808;
  border: none;
  background: transparent;
  border-bottom: 2px solid #080808;
  text-align: left;
  width: 100%;
    appearance: none;
    position: relative;
}
.select-one i {
  position: absolute;
  right: 0;
  font-size: 23px;
}
.select-one {
  width: 100%;
  position: relative;
}
.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.add-facility .anil_nepal {
  padding: 10px 0px;
}
.add-room-box {
  display: flex;
  justify-content: center;
}
.add-room-box img {
  width: 100%;
  max-width: 150px;
  height: 100%;
  max-height: 90px;
  border-radius: 6px;
}

.add-room-one i {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.add-room-one p, .add-room-one span {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
  margin-bottom: 10px;
}
.add-room-one .dropdown-menu {
  right: inherit !important;
  left: -150px !important;
  top: 0px !important;
  width: 155px;
  /* height: 146px; */
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 16%);
  border-radius: 6px;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #64c679;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #64c679;
}
.add-room-one a.dropdown-item.delete {
  color: red;
}
.add-room-one a.dropdown-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #080808;
  padding: 10px 15px;
}
.add-room-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EEEEEE;
}
.add-room-modal .glance-heading p {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #080808;
}
#addroom .modal-content {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px #000000;
  border-radius: 8px;
  border: none;
  padding: 20px 20px;
}
button.close {
  opacity: 1;
}
#addroom #myTabContent {
  margin-top: 15px;
}
#addroom .location {
  margin-top: 0;
}
#addroom .add-facility li.nav-item {
  padding: 0 0px 0 25px;
}
.half-select .select-one {
  width: 40%;
}
.add-facility-form .activities-half input {
  width: 60%;
}
.activities-half label {
  display: block;
}
.activities-half label strong {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #666666;
}
.buttons-addroom button.btn.btn-black {
  background: #080808;
  border: 1px solid #080808;
  box-sizing: border-box;
  border-radius: 100px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  height: 38px;
  padding: 0 20px;
  margin-right: 15px;
  margin-top: 10px;
}
.buttons-addroom button.btn.btn-black.btn-tranpernt {
  background: transparent;
  color: #080808;
}
#addcongrs .modal-content {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px #000000;
  border-radius: 8px;
  padding: 15px 15px 20px;
}
#addcongrs .modal-content p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin: 15px 0;
  border-bottom: 1px solid #EEEEEE; 
  padding-bottom: 25px;
}
#addcongrs .congo-room button.continue-btn.update-btn {
  width: 100%;
}
.upcoming-tab .profile-data button.update-btn {
  width: auto;
}
/* .modal-open #navbarNav{
  margin-right: 15px;
} */
.search-box.preium:hover img.hover-img {
  border: 4px solid #65c87a;
}
.search-box.preium:hover h2 {
  color: #65c87a;
}
.owner-icons a:hover svg path, .owner-icons a:hover svg rect {
  stroke: #65c87a;
  fill: #65c87a;
}
.owner-icons a:hover h3 {
  color: #65c87a;
}
.owner-icons a.same-stoke:hover svg path{
  fill: inherit;
}
.owner-icons a.subs:hover circle {
  fill: #65c87a;
}
.owner-icons a.subs:hover path {
  fill: #fff;
}
button.btn.btn-black.btn-filter.more-btn.space-no.upcoming:hover {
  background: #080808c7;
  border-color: #080808c7;
}
.nav-pills .nav-link:hover {
  color: #000000;
}
button.btn.btn-black.btn-filter.more-btn:hover {
  background: #080808;
  color: #fff;
}
button.btn.btn-black.btn-filter.day.space-no.day:hover {
  background: #080808c7;
  border-color: #080808c7;
}
button.btn.btn-black.btn-filter.more-btn.green:hover {
  color: #fff;
  background: #83da95;
  border-color: #83da95;
}
.booking-transprnt .sendmessege button.btn.btn-cancal:hover {
  background: #080808c7;
  border-color: #080808c7;
}
.sendmessege button.btn.btn-cancal:hover {
  color: #080808;
}
.innerheader a.dropdown-item img {
  width: 100%;
  max-width: 30px;
  margin-right: 10px;
}
.innerheader .nav-item .dropdown-menu.show {
  min-width: 15rem;
}
.serch-content span.tooltips-text img {
  width: 21px;
  height: 21px;
}

span.tooltips-text {
  margin-left: 5px;
  margin-right: 0px;
}
span.tooltips-cont {
  margin-left: 5px;
}
.footer-links ul a:hover li {
  color: #65c87a;
}
.booked-one a.dropdown-item {
  font-weight: 500;
  color: #080808;
  padding: 10px;
}
.booked-one .dropdown-menu.show {
  padding: 0;
}
.booked-one button#dropdownMenuButton {
  color: #000000b5;
  padding: 0;
}
.booked-open.Open-booked .dropdown-menu.show {
  left: -95px !important;
}
.heart-white path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 2px;
}
.heart-white path:hover {
  stroke: rgb(237, 76, 63);
}
.facility .slick-prev {
  left: 20px;
  z-index: 99;
}
.slick-next {
  right: 37px;
}
.slick-prev:before, .slick-next:before{
  font-size: 35px;
  opacity: 1;
}
/******* responsive start here ********/
@media only screen and (min-width: 1420px) {
body.modal-open {
  padding-right: 0 !important;
}
.modal-open .modal{ 
  padding-right: 0 !important;
} 
}

@media only screen and (max-width: 1320px) {
  .search-main input {
    width: 70%;
  }
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }
  .search-main {
    width: 28%;
  }
  .innerheader a.nav-link {
    font-size: 14px;
    padding: 11px 8px !important;
  }
  button.btn.btn-black.btn-filter {
    padding: 8px 10px;
    margin-right: 8px;
  }
}

@media only screen and (max-width: 991px) {
  .header #navbarNav {
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .header .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .header .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .mobileViwe {
    display: block;
  }
  .desktopViwe {
    display: none;
  }
  footer .col-md-3,
  footer .col-md-2 {
    flex: 0 0 49%;
    max-width: 49%;
  }
  .mobileViwe .spotywork {
    padding: 0;
  }
  .box-one {
    background: #f5f5f5;
    border-radius: 6px;
    padding: 15px;
    margin: 0 25px;
  }
  .testimonial {
    overflow: hidden;
    margin-bottom: 50px;
    padding-bottom: 40px;
  }
  .slick-dots {
    bottom: -30px;
  }
  .slick-dots li button:before {
    font-size: 14px;
    opacity: 0.4;
    color: #080808 !important;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #080808 !important;
  }
  .search-main-page .row.mr-0 {
    flex-direction: column-reverse;
    margin-right: -15px !important;
  }
  .search-main-page .col-md-4.pr-0 {
    padding-right: 15px !important;
  }
  .search-main-page .container-fluid.pr-0 {
    padding-right: 40px !important;
  }
  .innerheader #navbarNav {
    position: absolute;
    top: 60px;
    background: #fff;
  }
  .search-main-page .col-md-8,
  .search-main-page .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-links.footer-icons p {
    margin-top: 5px;
    margin-bottom: 0;
}
  .english {
    opacity: 0;
    margin-bottom: 0;
    margin-top: 0 !important;
}
  .search-main-page .container-fluid.pr-0 {
    padding-right: 20px !important;
  }
  a.navbar-brand.mobileViwe {
    margin: 0;
  }
  a.navbar-brand:before {
    width: 0;
  }
  .bannertext h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
  }
  .banner {
    height: 360px;
    background-position: 100%;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    background-repeat: no-repeat;
  }
  .bannertext {
    height: 350px;
  }
  .search-form input {
    height: 56px;
    width: 100%;
  }
  button.btn.btn-search {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    height: 56px;
    font-size: 20px;
  }
  .search-form i.fas.fa-map-marker-alt {
    top: 16px;
    right: 10px;
  }
  .search-form i.fa.fa-search {
    top: 18px;
    left: 13px;
  }
  .explore-facilities h2.title {
    margin-bottom: 20px;
  }
  h2.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
  .spotyworktext span {
    display: none;
  }
  .explore-facilities {
    padding: 60px 0 30px;
  }
  .footer-logo img {
    width: 100%;
  }
  .footer-logo p.mt-5.pt-5 {
    margin-top: 0 !important;
    font-weight: 400;
  }
  .footer-logo p {
    padding-bottom: 0;
  }
  .footer-logo p {
    white-space: nowrap;
  }
  .footer-logo p.mt-5.pt-5 {
    white-space: inherit;
  }
  .footer-icons ul {
    padding-bottom: 0;
  }
  .footer-icons p.mt-5.pt-5 {
    margin-top: 25px !important;
  }
  p.players {
    padding-top: 14px;
    font-size: 16px;
    font-weight: 400;
  }
  .footer-logo p.mt-5.pt-5 {
    white-space: inherit;
    padding-top: 2rem !important;
  }
  .box-one {
    padding: 15px;
    margin: 0 5px;
  }
  .slick-dots {
    bottom: -40px;
  }
  iframe {
    height: 320px;
  }
}

@media only screen and (max-width: 380px) {
  .nav-item {
    padding-left: 10px;
  }
}
